<p id="notice"><%= notice %></p>

<p>
  <strong>Processor:</strong>
  <%= @computer.processor %>
</p>

<p>
  <strong>Gpu:</strong>
  <%= @computer.gpu %>
</p>

<p>
  <strong>Ram:</strong>
  <%= @computer.ram %>
</p>

<p>
  <strong>Psu:</strong>
  <%= @computer.psu %>
</p>

<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>
